<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/change.css">
    <title>cl</title>
</head>
<body>
    <div class="contenair">
        <header>
            <a href="#"><img  src="../img/logo.png" alt=""  class="logo"></a>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Proudect</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>
 
    <div class="content">
        <div class="text">
            <h2> Iphon 13 pro</h2>
            <p>Lorem ipsum dolor, sit amet consectetur
                 adipisicing elit.Tempore, consequuntur.</p>
                <a href="#" class="lin"> All products</a>
                </div>
        <div class="image">
            <img src="../img/3.png" class="image1">
        </div>
    
    </div>
    <div class="icon">
        <img src="../img/0.png" onclick="change(this.src); colors('#000')" >
        <img src="../img/1.png" onclick="change(this.src); colors('#247ec8')" >
        <img src="../img/2.png" onclick="change(this.src); colors('#1e1e1e')" >
        <img src="../img/3.png" onclick="change(this.src); colors('#c79b53')" >
        <img src="../img/4.png" onclick="change(this.src); colors('#c82525')" >

    </div>
</div>
</body>
<script src="../js/style.js"></script>
</html>